$primaryCyan: hsl(171, 66%, 44%);
$primaryLightblue: hsl(233, 100%, 69%);
$py: 0.8rem;

.buttons {
    padding: $py 0;
    margin: 2rem 0;
}

.btn {
    font-weight: 600;
    padding: $py 2rem;
    margin: 0 0.5rem;
    text-align: center;
    color: white;
    border-radius: 2rem;
}



.primary_cyan {
    background-color: $primaryCyan;
}

.primary_lightblue {
    background-color: $primaryLightblue;
}

@media screen and (max-width: 1200px) {
    .buttons {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }

    .buttons > * {
        width: 100%;
        margin: 1rem 0.5rem;
        padding: 1rem;
    }
}