$sectionSpace: 5rem;
$breakpoint-desktop: 1199px;
$breakpoint-tablet: 991px;
$breakpoint-mobile: 575px;

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center
}


.callToAction {
    margin-bottom: 5rem;

    p {
        width: 95%;
        margin: 0 auto;
    }
}

.quickSearch {
    display: flex;

    .flex-item {
        flex-basis: 40%;
    }

    .large {
        flex-basis: 60%;

        img {
            margin-left: -30px;
        }
    }

    .snippets {
        .snippet {
            margin-top: 3rem;
        }

        p {
            text-align: justify;
            max-width: 70%;
        }



    }
}

.quickSearch.container.xl {
    margin-bottom: $sectionSpace;
}

.devices {
    margin-top: 5rem;
}

.flex-container {
    @include flexCenter();
    justify-content: space-between;
    padding: 3rem 0;
    margin-bottom: $sectionSpace;

    .flex-item {
        width: calc(100%/3);
        padding: 1rem;

        .icon {
            margin: 2rem 0;
        }
    }
}

@media screen and (max-width: $breakpoint-desktop) {
    .flex-container {
        flex-wrap: wrap;
    }
    
}

@media screen and(max-width: $breakpoint-tablet) {
    .quickSearch{
        flex-direction: column;
        justify-content: center; 
               
    }

    .quickSearch.container.xl {
        margin-bottom: 10rem;
    }

    .quickSearch .flex-item{
        flex-basis: 100%;
        text-align: center;        
    }

    .quickSearch .large img {
        margin: 0;
    }
     
    .quickSearch .snippet p {
        text-align: center;
        max-width: none;
    }
}


@media screen and(max-width: $breakpoint-mobile) {
   

    .flex-container .flex-item {
        width: 100%;
        padding: 1rem 0;
    }

    
}