@import 'buttons', 'main';

$darkGrayishblue: hsl(210, 10%, 33%);
$grayishBlue: hsl(201, 11%, 66%);
$sectionSpace: 5rem;

@mixin resetRule() {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin wrapCenter() {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center
}

@mixin p-justify-center {
    text-align: justify;
    text-align-last: center;
    line-height: 1.8;
}

* {
    @include resetRule();
    font-family: 'Bai Jamjuree', sans-serif;
}

html {
    font-size: 18px;
}

body {
    color: $grayishBlue;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1440px;
    width: 80%;
    margin: 0 auto;
}

.container.xl {
    width: 100%
}



.row {
    @include wrapCenter();
    margin-bottom: $sectionSpace;
}

h1 {
    font-size: 2.3rem;
}

h2 {
    font-size: 2rem
}

h4 {
    font-size: 1.5rem;
}

.title {
    margin-bottom: 1rem;
    color: $darkGrayishblue;
}


header {
    @include flexCenter();
    background: no-repeat center/cover url(../../images/bg-header-desktop.png);

    #logo {
        padding: 5rem 0 3rem 0;
    }
}

/* #region columns */

[class*="col-"] {
    text-align: center;

    p {
        @include p-justify-center();
    }

}

.col-7 {
    width: calc(100%/12) * 7;

}

.col-8 {
    width: calc(100%/12) * 8;
}

.col-10 {
    width: calc(100%/12) * 10;

    img {
        width: 100%;

    }
}

.col-12 {
    width: calc(100%/12) * 12;
}

/* #endregion */


footer {
    display: flex;
    padding: 2rem 0;
    background-color: whitesmoke;

    .container {
        display: flex;
        justify-content: space-between;

        .footer-left {
            display: flex;
            width: 70%;
            justify-content: space-between;

            img {
                max-width: 10%;
            }

            .info {
                display: flex;
                flex-wrap: wrap;

                a {
                    color: $grayishBlue;
                    display: inline-block;
                    width: 33%;
                    padding: 0.2rem 1rem;
                }
            }

        }

        .footer-right {
            display: flex;
            align-items: center;

            img {
                padding: 0 0.5rem;
            }
        }

    }

}